{% extends 'base.html' %}
{% block body %}
<h1>آتش</h1>
<html>
  <script>
    document.getElementById("custom-button").addEventListener("click", function() {
	document.getElementById("file-input").click();
    });
  </script>
  <body>
      <form action = "http://localhost:5000/uploader" method = "POST" 
            enctype = "multipart/form-data">
	<div class="file-browse">
	  <input type="file" id="file-input" name="file-input" />
	  <label for="file-input" id="custom-button">جستجو</label>
	</div>
          <input type = "submit" value="ارسال"/>	  	
      </form>   
   </body>
</html>
{% endblock %}
