body {
    background-color: lightblue;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload #custom-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.file-upload #custom-button:hover {
  background-color: #0056b3;
}
