body {
    background-color: grey;
}

.file-upload input[type="file-input"] {
  display: none;
}

.file-upload #custom-button {
  background-color: #237bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.file-upload #custom-button:hover {
  background-color: #0056b3;
}
